.vscode/**
.vscode-test/**
src/**
test/**
out/**
node_modules/**
.gitignore
.eslintrc.cjs
.prettierrc
esbuild.config.mjs
tsconfig.json
**/*.map
**/*.ts
!dist/extension.js
.github/**
package-lock.json
AUDIT-REPORT.md
MERGE_PLAN.md
PUBLISH.md
vsc-extension-quickstart.md
docs/**
CONTRIBUTING.md
